.navbar {
  font-size: 1.2rem;
  font-weight: 200;
}

ul li {
  padding: 0 1rem;
  /* font-size: 1.2rem; */
  font-weight: 400;
}

.cart_icon {
  position: fixed;
  top: 0%;
  right: 2%;
  z-index: 10000;
  background-color: white;
  padding: 6px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
